<h1>Hi there, <%= @name %> wants to stay in touch with you!</h1>

<p>
	Email address: <%= @email %>

  <!-- Ensure that a User signature has been created -->
	About: <%= @signature if @signature.present? && @signature.length > 0 %>
</p>
