<h1>Hello good looking,</h1>

<p>
	Thank you for signing up to NetworkMill. We must admit, you are pretty awesome for doing so - and it's not like we're buyist or anything. As a friendly reminder, NetworkMill helps you stay in touch with the interesting people you meet and allows you say "bye bye Mr. Rolodex"!
	
	<br />
	<br />
	
	If you have any questions or suggestions (we love both) please do not hesitate to respond to this email. (That's right, you can just hit the big 'ol 'Reply' button.)

	<br />
	<br />

	Have an amazing day and we hope to hear from you soon,

	<br />
	<br />
	--
	<br />
	The NetworkMill Team

</p>