<h1>Ohh no,</h1>

<p>
	It seems that you haven't added that many contacts to your NetworkMill account yet. Why don't you take a couple of minutes to change that? 

	<br />
	<br />

	Think about all the amazing people you've met over the past couple of months (or even years) with whom you've lost touch. Think about that holiday party or that last networking event you attended. What about your past co-worker? You know, the one with whom you often got lunch with. Yes yes, the one that is lactose intorelant. That one!

	<br />
	<br />

	Once you've added more contacts we'll take care of reminding you to contact them. The more contacts you add, the better it gets!

	<br />
	<br />

	If you have any question please do not hesitate to reach out. You can simply hit the 'Reply' button :)

	<br />
	<br />

	We hope you're having a great day!
</p>