
// If the save works, redirect right to the dashboard
if ("<%= @success %>" == "true") {

  $('header').after("<div class='flash success'>Save successful!</div>");
  setTimeout(function(){ window.location = "<%= dashboard_path %>"}, 500);

// If not, throw the errors on the page
} else {

  $('.error').remove()
  var errors = [];
  <% @user.errors.full_messages.each do |err| %>
    errors.push("<%= err %>")
  <% end %>
  $('header').after("<div class='flash error'></div>");
  for (var i = 0; i < errors.length; i++) {
    $('.error').append("<p>" + errors[i] + "</p>");
  }

}