$('#sign-in-error, .success').remove();

if ("<%= resource.errors.full_messages %>" == "[]" )
  $('#forgot-password-form #user_email').val('').before("<div class='success'>Please check your email for reset password instructions</div>");
else
  $('#forgot-password-form #user_email').before("<div id='sign-in-error'>Email not found, please double check for any typos</div>");
end