/ Create new category
= form_for @category, url: new_category_path do |f|
  = f.text_field :name, :id => "add-category-field"
  = f.submit "create contact category", :id => "add-category-button"

/ List all categories
- @categories.each do |category|
  %li
    = category.name