= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :remote => true) do |f|
	= devise_error_messages!
	= f.email_field :email, placeholder: "email", class: 'email-field'
	= f.submit "Send me reset password instructions &raquo;".html_safe, :class => "reset-submit"