/ Allow user to send him/herself the networkmill app download URL
#text-app
  = form_tag("/send-text", class: "text_user", method: "post") do
    = text_field_tag "number",nil, placeholder: "what's your number", :class => "telephone-field"
    = submit_tag "send me the app link &raquo;".html_safe, :class => "form-submit"