%h1
  F.A.K. - Frenquently Asked Kuestions

%ol
  %li
    What is NetworkMill?
    %p
      It's a tool to help you stay in touch with the interesting people you meet. How many times have you exchanged business cards and never spoken again? When was the last time you reached to past co-workers - whose company you enjoyed? You can think of NetworkMill as your second (socially oriented) brain.
      %br
      %br

  %li 
    Who is NetworkMill for?
    %p 
      NetworkMill is ideal for the busy, business oriented, ones and for social butterflies. Whether you are working on your own startup, attending an MBA program or simply meeting tons of people, NetworkMill is for you. We all know how powerful a good network of contacts can be.
      %br
      %br

  %li
    How much does NetworkMill cost?
    %p
      NetworkMill will always have a free version. As we add advanced features we may create a premium plan which may cost around $5 - $9 per month. (We don't know the exact price yet since we still have a long road to go before crossing that bridge.) 
    %p
      During our beta offer we also offer a supporter account - for the generous ones. Your contribution allows us to pay for our server costs (and, on some occasions, for a warm cup of coffee). By becoming a NetworkMill supporters you not only show your appreciation but also give us, independent developpers, the honor of knowing that you value our work and efforts.
  
