%h1
  Hi there, it's nice to see around here!

%p
  This is were some awesome text and some awesome onboarding process will go. It's gonna be so great it'll blow your brains out!

= link_to "ok, got it", first_time_off_path, :method => :post, id: 'turn-turorial-off'