$('.error').remove()

if ("<%= @success %>" == "true") {
  $('header').after("<div class='flash success'>Contact saved!</div>");
  setTimeout(function(){ window.location.reload() }, 500);
} else {
  var errors = [];
  <% @contact.errors.full_messages.each do |err| %>
    errors.push("<%= err %>")
  <% end %>
  $('header').after("<div class='flash error'></div>");
  for (var i = 0; i < errors.length; i++) {
    $('.error').append("<div>" + errors[i] + "</div>");
  }
}
