$('.mobile-flash > *').remove()

if ("<%= @success %>" == "true") {

  $('.mobile-flash').append("<div class='flash success'>Contact saved!</div>");
  $('.mobile-flash > *').delay(2000).fadeOut();
  setTimeout(function(){ window.location.reload() }, 500);

} else {

  var errors = [];
  <% @contact.errors.full_messages.each do |err| %>
    errors.push("<%= err %>")
  <% end %>
  $('.mobile-flash').append("<div class='flash error'></div>")
  $('.mobile-flash > *').delay(2000).fadeOut();
  for (var i = 0; i < errors.length; i++) {
    $('.error').append("<div>" + errors[i] + "</div>");
  }
  
}
