html
  height: 100%

body
  height: 100%

.sliver
  background: image-url("gradient.png") repeat
  width: 10px
  position: absolute
  left: 0
  height: 100%
  -webkit-animation: gradient-move 60s infinite

#container
  width: 960px
  margin: 0 auto
  padding-top: 40px

header
  +group
  margin-bottom: 45px

  .logo a
    +ir("logo.png", 200px 31px)
    +transition
    display: block
    float: left

    &:hover
      opacity: .8

  .status
    float: right
    padding-top: 7px

@-webkit-keyframes gradient-move
  0%
    background-position: 0 0
  100%
    background-position: 0 1990px
