html
  height: 100%

body
  height: 100%

.sliver
  background: image-url("gradient.png") repeat
  width: 10px
  position: fixed
  left: 0
  height: 100%
  -webkit-animation: gradient-move 60s infinite

#container
  width: 960px
  margin: 0 auto
  padding-top: 40px
  position: relative

header
  +group
  margin-bottom: 45px

  .logo a
    +ir("logo.png", 200px 31px)
    +transition
    display: block
    float: left

    &:hover
      opacity: .8

  nav ul
    +inline-list(35px)
    float: left
    margin-top: 5px
    margin-left: 35px

    a
      +reset-link
      +opacity(.5)
      +transition(opacity .25s ease)

      &:hover
        +opacity(.8)

  .status
    float: right
    padding-top: 7px
    position: relative

    .account
      padding: 10px 15px
      border-top-left-radius: 7px
      border-top-right-radius: 7px
      +transition(background .4s)

      &.active
        background: #E2E2E2

    .sign-in
      +reset-link
      +bold
      padding: 8px 20px
      border-top-left-radius: 7px
      border-top-right-radius: 7px
      +transition(background .4s)

      &.active
        background: #E2E2E2

    #sign_in_error
      color: $red
      font-size: 14px
      margin-bottom: 10px

    .dropdown
      display: none
      position: absolute
      right: 0
      background: #E2E2E2
      top: 27px
      padding: 10px 61px
      border-bottom-left-radius: 7px
      border-bottom-right-radius: 7px
      text-align: center
      z-index: 2

      a
        display: block
        font-size: 13px
        color: #FF4517
        text-decoration: none
        margin-bottom: 5px

        &:hover
          text-decoration: underline

  #new_user
    display: none
    background: #E2E2E2
    position: absolute
    z-index: 2
    right: 0
    top: 34px
    padding: 20px 14px
    border-radius: 7px
    border-top-right-radius: 0

    .forgot-pass
      font-size: 11px
      +bold
      text-decoration: none
      color: #E3763A
      margin-left: 5px
      margin-top: 9px
      display: inline-block

// Shared form field styles across log in and sign up

.email-field, .password-field, .pass-visible
  +input(#E95400)
  width: 183px
  display: block
  margin-bottom: 11px
  padding: 5px
  padding-left: 27px

.email-field
  background: #fff image-url("user.png") 2% 50% no-repeat

.password-field, .pass-visible
  background: #fff image-url("pass.png") 2% 50% no-repeat

.form-submit, .reset-submit
  +button(#ED6300)
  +gradient(#ED6300, #DD2800)
  +transition
  text-shadow: 1px 1px 2px rgba(#000,.4)
  padding: 7px 18px
  float: right
  padding: 7px 18px

// end

.flash
  margin-bottom: 25px

@-webkit-keyframes gradient-move
  0%
    background-position: 0 0
  100%
    background-position: 0 1990px
