#mobile
  +prefix('background-size', cover)
  background: image-url('bg-mobile.png') no-repeat center center fixed

  .mininav
    position: absolute
    bottom: 10px
    right: 10px

    a
      color: #fff

  #preference
    display: none



