// ================================================================
// 3d Shit
// ================================================================

#mobile
  width: 100%
  height: 100%
  position: relative
  -webkit-perspective: 800px
  background: #000

#card
  width: 100%
  height: 100%
  // position: fixed
  // overflow: auto
  -webkit-transform-style: preserve-3d
  -webkit-transition: -webkit-transform 1.3s ease

  &.flipped
    -webkit-transform: rotateY(180deg)

    .cog
      opacity: 0

  // Comment for Carl: Only apply this style to direct children
  // of #card that are also div
  & > div
    -webkit-backface-visibility: hidden
    position: absolute

  #preference
    -webkit-transform: rotateY(180deg)
    -webkit-transition: -webkit-transform 1s ease

// ================================================================
// Login validation
// ================================================================

#sign-in-error
  color: $red
  font-size: 13px
  margin-bottom: 6px
  text-align: center

// ================================================================
// Add Contact Page
// ================================================================

=default-font
  -webkit-font-smoothing: antialiased
  font-family: "PT Sans"

=ir
  font: 0/0 a
  text-shadow: none
  color: transparent

.loading
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .5)
  position: absolute
  top: 0
  z-index: 10
  display: none

  .spinner
    -webkit-animation: rotate 1.7s linear infinite
    background: image-url('spinner.png') no-repeat
    +d(32)
    position: absolute
    top: 50%
    left: 50%
    margin-left: -16px
    margin-top: -16px

@-webkit-keyframes rotate
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

#add-contact
  +prefix('background-size', cover)
  background: image-url('bg-mobile.png') no-repeat center center fixed
  overflow: hidden
  width: 100%
  height: 100%

  h1
    +ir
    background: image-url('logo-mobile.png') no-repeat
    width: 172px
    height: 28px
    margin: 25px auto

  input[type=text], input[type=email]
    margin: 0 auto
    display: block
    background-color: #e2dddb
    padding: 15px 15px
    text-align: center
    border: 4px solid rgba(255, 255, 255, .15)
    background-clip: padding-box
    +box-shadow("inset 0px 1px 3px rgba(0,0,0,.4)")
    +round(3px)
    +default-font
    margin-bottom: 15px
    font-size: 22px
    color: #444
    cursor: pointer
    width: 80%
    font-family: 'PT Sans', sans-serif

    &:focus
      outline: 0

  #write-note
    +default-font
    +transition
    margin: 0 auto
    display: block
    width: 82%
    background-color: rgba(0, 0, 0, .6)
    font-size: 14px
    border: 4px solid rgba(255, 255, 255, .08)
    +round(4px)
    background-clip: padding-box
    margin-bottom: 30px
    text-align: center
    padding: 8px
    height: 18px
    color: #fff
    overflow: hidden
    margin-top: 30px
    font-family: 'PT Sans', sans-serif

    // &::-webkit-input-placeholder
    //   color: #fff
    //   opacity: .3

    &:focus
      outline: 0

  input[type=submit]
    +gradient(#68EDF8, #00A3DD)
    color: #fff
    +bold
    padding: 10px 94px
    border: 1px solid #00AAD1
    border-radius: 4px
    text-shadow: 1px 1px 1px rgba(#000, .3)
    font-family: 'PT Sans', sans-serif
    font-size: 22px
    -webkit-font-smoothing: antialiased
    // +box-shadow("inset 0 1px 0 rgba(255, 255, 255, 0.6), 1px 1px 3px rgba(0,0,0,.3)")
    margin: 15px auto
    display: block
    +transition
    width: 85%
    font-family: 'PT Sans', sans-serif

    &:hover
      background-position: 0 -20px

    &:active
      +box-shadow("inset 0 1px 20px rgba(0,37,50,.9)")
      border-color: #035D7C
      text-shadow: -1px -1px 1px rgba(#000, .3)

  .cog
    +d(34)
    margin: 0 auto
    cursor: pointer
    +transition(all 1.3s ease)

    span
      content: ""
      display: block
      +bg("cog.png")
      +d(34)
      position: absolute
      bottom: 15px

  #name
    margin-top: 15px

  #counter
    color: #756f6b
    background-color: rgba(0, 0, 0, .35)
    margin: 0 auto
    display: none
    width: 18px
    padding: 3px
    text-align: center
    +round(3px)

// ================================================================
// Preferences
// ================================================================


#preference
  background: image-url('mobile-pattern.png') repeat
  width: 100%
  height: 100%

  #bio
    width: 94%
    margin: 0 auto
    margin-bottom: 15px
    +group

  header
    +gradient(rgba(67,67,67,.5), rgba(2,2,2,.5))
    margin-bottom: 25px

    h1
      +ir
      background: image-url('logo-mobile.png') no-repeat
      width: 172px
      height: 28px
      margin: 15px auto
  
  textarea
    margin: 0 auto
    background-color: #b9baba
    padding: 10px
    border: 3px solid rgba(0, 0, 0, .2) 
    background-clip: padding-box
    +box-shadow("inset 0px 1px 3px rgba(0,0,0,.8)")
    border-radius: 4px
    font-family: "PT Sans"
    display: block
    margin-bottom: 15px
    margin-top: 30px
    -webkit-font-smoothing: antialiased
    font-size: 16px
    color: #444
    cursor: pointer  
    height: 150px
    width: 94%
    +prefix(box-sizing, border-box)
    font-family: 'PT Sans', sans-serif

    &:focus
      outline: 0

  #picture
    width: 100px
    height: 100px
    background: rgba(0,0,0,.5) image-url('camera.png') no-repeat 60% 60%
    +box-shadow(inset 0 0 17px rgba(0,0,0,.8))
    +round(6px)
    display: block
    float: left
    margin-right: 25px

  #name
    padding-top: 6px
    color: #f7f4f4
    font-size: 28px

  #email
    color: #a4a4a4
    font-size: 15px
    margin-top: -3px

  .account-settings
    background-color: #1f1f20
    font-size: 10px
    padding: 3px 7px
    border-radius: 4px
    +group
    text-align: center
    margin-top: 10px
    float: left
    color: #a4a4a4
    text-decoration: none
    display: block
  #feedback-tab
    margin-left: 10px

  #networking-mode
    +bold
    color: #fff
    font-size: 18px
    text-shadow: 1px 1px 1px rgba(#000, .3)
    margin: 0 auto
    padding-left: 19px

  #start-networking
    display: block
    margin: 0 auto
    margin-top: 20px
    +gradient(#d9d9d9, #9c9c9c)
    color: #2b2b2b
    font-size: 22px
    text-align: center
    +bold
    border: 4px solid rgba(0, 0, 0, .3)
    background-clip: padding-box
    font-family: 'PT Sans', sans-serif
    -webkit-font-smoothing: antialiased
    +box-shadow("inset 0 1px 0 rgba(255, 255, 255, 0.6), 1px 1px 3px rgba(0,0,0,.3)")
    +round(4px)
    padding: 10px 0
    text-shadow: -1px -1px 1px rgba(#fff,.9)
    width: 94%
    +transition(all .2s ease)

    &:active
      +box-shadow(inset 0 3px 10px rgba(0,0,0,.8))
      text-shadow: -1px -1px 1px rgba(#fff,.4)

// ================================================================
// Sign In Page
// Forgot Password Page
// Feedback Page
// ================================================================

=mobile-homepage-gradient
  background: #d20e68
  background: -moz-linear-gradient(left,  #d20e68 0%, #ff170a 51%, #ff9400 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d20e68), color-stop(51%,#ff170a), color-stop(100%,#ff9400))
  background: -webkit-linear-gradient(left,  #d20e68 0%,#ff170a 51%,#ff9400 100%)
  background: -o-linear-gradient(left,  #d20e68 0%,#ff170a 51%,#ff9400 100%)
  background: -ms-linear-gradient(left,  #d20e68 0%,#ff170a 51%,#ff9400 100%)
  background: linear-gradient(to right,  #d20e68 0%,#ff170a 51%,#ff9400 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20e68', endColorstr='#ff9400',GradientType=1 )

.mobile-flash
  position: absolute
  top: 22px
  z-index: 10
  width: 100%
  text-align: center

  .flash
    display: inline
    font-size: 13px

#sign-in, #forgot-password, #feedback
  margin: 0 auto
  display: block
  background-color: white
  width: 100%
  height: 100%
  position: fixed
  overflow: auto

  #gradient
    +mobile-homepage-gradient
    width: 100%
    height: 18px
    +box-shadow("0px 3px 7px rgba(0,0,0,.1)")

  h1
    +ir
    background: image-url('signin-logo.png') no-repeat
    width: 172px
    height: 28px
    margin: 40px auto
    padding-top: 20px
    text-align: center

  input[type=email], input[type=password]
    display: block
    background: #f9f9f9
    font-size: 18px
    font-family: 'PT Sans', sans-serif
    -webkit-font-smoothing: antialiased
    margin: 17px auto
    width: 77%
    padding: 13px
    border: 1px solid #c9c9c9
    +box-shadow("inset 0px 3px 7px rgba(0,0,0,.12)")
    +round(3px)
    +transition

    &:focus
      outline: 0
      +box-shadow("inset 0px 3px 7px rgba(0,0,0,.12), 0 0 8px rgba(246,97,4,.7)")      

  p
    font-size: 18px
    text-align: center

  textarea
    height: 250px
    width: 320px
    margin: 15px 30px 0px 30px
    padding: 6px
    background: #f9f9f9
    font-size: 18px
    font-family: 'PT Sans', sans-serif
    -webkit-font-smoothing: antialiased
    border: 1px solid #c9c9c9
    +box-shadow("inset 0px 3px 7px rgba(0,0,0,.12)")
    +round(3px)

    &:focus
      outline: 0

  input[type=submit]
    display: block
    margin: 0 auto
    margin-top: 65px
    margin-bottom: 50px
    width: 83%
    font-family: 'PT Sans', sans-serif
    -webkit-font-smoothing: antialiased
    font-size: 22px
    color: #fff
    +gradient(#ff9501, #ff5a03)
    +bold
    +rounded
    padding: 12px
    border: 1px solid #ed5400
    text-shadow: 1px 1px 1px rgba(#000, .3)
    +box-shadow("inset 0 1px 0 rgba(255, 255, 255, 0.6), 1px 1px 3px rgba(0,0,0,.3)")
    +transition

    &:active
      +box-shadow("inset 0 3px 14px #8E3602")
      text-shadow: -1px -1px 1px rgba(#000, .3)
      background-position: 0 -10px

  #more-actions
    margin-top: 80px
    margin-bottom: 30px
    a
      display: block
      text-align: center
      color: #8a8a8a
      text-decoration: none
      font-size: 17px
      font-family: 'PT Sans', sans-serif
      -webkit-font-smoothing: antialiased

      &:first-child
        +bold
        margin-bottom: 10px
